@model MvcApplication1.Models.Reporte

@{
    ViewBag.Title = "Crear reporte en Gymkana";
}

<h2>Crear reporte en Gymkana</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

        <div class="editor-label">
            @Html.LabelFor(model => model.Motivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Motivo)
            @Html.ValidationMessageFor(model => model.Motivo)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.idGymkana)
            @Html.ValidationMessageFor(model => model.idGymkana)
        </div>
        <p>
            <input type="submit" value="Create"  class="waves-effect waves-light btn" />
        </p>
}

<div>
    @Html.ActionLink("Volver a la Gymkana", "Details", "Gymkana", new { id = Model.idGymkana }, new { @class = "waves-effect waves-light white-text btn marme" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
