@model IEnumerable<WhateverGenNHibernate.EN.Whatever.ReporteEN>

@{
    ViewBag.Title = "ver reportes de Reto";
}

<h2>Rerportes de Reto</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", "Reporte", new { id=item.ID }, new { @class = "waves-effect waves-light white-text btn marme" }) 
            @Html.ActionLink("Delete", "Delete", "Reporte", new { id = item.ID }, new { @class = "waves-effect waves-light white-text btn marme" }) 
            @Html.ActionLink("Volver al Reto", "Details", "Reto", new { id = item.Reto.ID }, new { @class = "waves-effect waves-light white-text btn marme" })
        </td>
    </tr>
}

</table>
