@model IEnumerable<WhateverGenNHibernate.EN.Whatever.ComentarioEN>

@{
    ViewBag.Title = "ComentarioGymkana";
}

<h2>Comentarios en Gymkanas</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creador)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Comentario", new { id = item.ID }, new { @class = "waves-effect waves-light white-text btn marme" }) |
            @Html.ActionLink("Volver a la Gymkana", "Details", "Gymkana", new { id = item.Gymkana.ID }, new { @class = "waves-effect waves-light white-text btn marme" })
        </td>
    </tr>
}

</table>
