@model IEnumerable<WhateverGenNHibernate.EN.Whatever.EventoEN>

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos</h2>

<p>
    @Html.ActionLink("Nuevo Evento", "Create")
</p>
<p>
    @Html.ActionLink("Mis Eventos", "List")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio) €
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.ID }) |
            @Html.ActionLink("Ver Comentarios", "ComentarioEvento", "Comentario", new { id = item.ID }, "null") |
            @Html.ActionLink("Ver reportes", "IndexEvento", "Reporte", new { id = item.ID }, "null") 

        </td>
        
    </tr>
}

</table>
