@model MvcApplication1.Models.Paso

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Paso</legend>

        
        <div class="editor-field">
            @Html.HiddenFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.Latitud)
    </div>
    -->
        <div class="editor-field">
            @Html.HiddenFor(model => model.Latitud)
            @Html.ValidationMessageFor(model => model.Latitud)
        </div>
        <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.Longitud)
    </div>
    -->
        <div class="editor-field">
            @Html.HiddenFor(model => model.Longitud)
            @Html.ValidationMessageFor(model => model.Longitud)
        </div>
        <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.Zoom)
    </div>
    -->
        <div class="editor-field">
            @Html.HiddenFor(model => model.Zoom)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<h3>Mapa</h3>
<div id="map" style="height: 600px;"></div>

<div>
    @Html.ActionLink("Volver a los Pasos", "Index", new { id = Model.idGymkana })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mapacreate")
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQw5mBOiJP88UP8TbwysOHmKg0NFRS2Rg"></script>

